@import '_variables';

// less than 992px
@media (max-width: $tablet - 0.02px) {
  .theme-mix > .toggle-sidebar-button {
    display: block;
    position: fixed;
    bottom: 0.5rem;
    left: 1rem;
    z-index: 10;
  }
}

.sidebar-mask {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

// less than 1200px
@media (max-width: $desktop - 0.02px) {
  .sidebar-open .sidebar-mask {
    display: block;
  }
}

.sidebar {
  .navbar-links {
    display: none;
    height: auto;
    border-bottom: 1px solid var(--border-color);
    padding: 0.75rem 0.75rem 0.75rem 0;

    // less than 992px
    @media (max-width: $tablet - 0.02px) {
      & {
        display: block;
      }
    }
  }

  a {
    display: list-item;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--text-secondary-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    // less than 992px
    @media (max-width: $tablet - 0.02px) {
      margin-left: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
  }

  .mobile-dropdown-title {
    display: block;
    margin: 0.25rem 0;
    margin-left: 0.75rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    color: inherit;
    line-height: 1.5rem;

    // less than 992px
    @media (max-width: $tablet - 0.02px) {
      margin-left: 0.5rem;
      padding-left: 0.5rem;
    }
  }

  .sidebar-item-link-group-title,
  a.sidebar-item-link {
    &:hover {
      color: var(--theme-color);
    }
  }

  a.nav-link.router-link-active,
  a.active {
    color: var(--theme-color);
  }

  .navbar-links-item {
    display: block;
    margin: 0;
    font-weight: 500;
  }

  // ------------------------------------ Sidebar Items ------------------------------------
  .sidebar-items {
    list-style: none;
    margin: 0;
    padding-left: 0;

    // less than 992px
    @media (max-width: $tablet - 0.02px) {
      & {
        padding-top: 0.75rem;
      }
    }
  }

  .sidebar-items-sub {
    padding-top: 0;

    // less than 992px
    @media (max-width: $tablet - 0.02px) {
      & {
        padding-left: 1rem;
      }
    }
  }

  .sidebar-item {
    font-size: 14px;
    line-height: 1.1;

    .arrow {
      display: inline-block;
      color: var(--text-secondary-color);
      width: 16px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: var(--deep-bg-color);
        border-radius: 3px;
      }

      svg {
        transition: all 0.2s ease;
      }
    }

    .sidebar-item-group-title,
    .sidebar-item-link-group-title {
      display: inline-block;
      margin-left: 6px;
    }

    a.router-link-active {
      color: var(--theme-color);
      font-weight: 600;

      // less than 992px
      @media (max-width: $tablet - 0.02px) {
        & {
          border: none;
        }
      }
    }
  }

  .sidebar-item:not(.collapsed) {
    & > .sidebar-item-group,
    & > .sidebar-item-link-group {
      .arrow svg {
        transform: rotate(90deg);
      }
    }
  }

  .sidebar-items-sub .sidebar-item {
    margin-left: 6px;
    padding-left: 1.25rem;
    border-left: 1px solid var(--border-color);

    &.active {
      border-color: var(--link-color);
    }

    // less than 992px
    @media (max-width: $tablet - 0.02px) {
      & {
        padding-left: 0;
      }
    }
  }

  .collapsed ul.sidebar-items-sub {
    overflow: hidden;
    height: 0 !important;
  }
}
